{% set schedules = openhrs.opening.regularSchedule() %}

{# TODO: possibly this macro should just be a partial template like the short_time one but with lots of extra params #}
{% macro microdataOpenings(schedule, range_symbol, delimiter, render_pattern, render_exclusions) -%}
	{% set render_pattern = render_pattern|default('g.ia') %}
	{% set render_exclusions = render_exclusions|default(['.i']) %}
	{% set md_date_format = 'H:i:s' %}
	{% spaceless %}
		{% set output = [] %}
		{% for opening in schedule %}
			{% set markup %}
				<span property="opens" content="{{ opening.opens|briefTime(md_date_format) }}" datatype="xsd:time">{{ opening.opens|briefTime(render_pattern, render_exclusions) }}</span>
				{{ range_symbol|default('–') }}
				<span property="closes" content="{{ opening.shuts|briefTime(md_date_format) }}" datatype="xsd:time">{{ opening.shuts|briefTime(render_pattern, render_exclusions) }}</span>
			{% endset %}
			{% set output = output|merge([markup]) %}
		{% endfor %}
		{{ output|join(delimiter|default(', '))|trim }} {# FIXME - don't think this is correct as per spec #}
	{% endspaceless %}
{%- endmacro microdataOpenings %}

<h3>{{ openhrs.opening.getSchedule('headings').regular }}</h3>

<table class="hours">
	<thead>
		<tr>
			<th scope="col">Day</th>
			<th scope="col">Hours</th>
		</tr>
	</thead>
	<tbody vocab="http://schema.org/" typeof="Dentist">
		{% import _self as transforms %}
		{% for day, schedule in schedules %}
			{# dump (schedule) #}
			{% set openings = ( schedule is empty ? ' <span property="description">Closed</span>' : transforms.microdataOpenings(schedule) ) %} {# transforms.microdataOpenings(schedule) #}
			<tr property="openingHoursSpecification" typeof="OpeningHoursSpecification">
				<th property="dayOfWeek" typeof="DayOfWeek" content="https://schema.org/{{ 'PLUGIN_OPAQUE.DAYS_OF_WEEK'|tav(day,'en') }}" scope="row">{{ 'PLUGIN_OPAQUE.DAYS_OF_WEEK'|tav(day)|pluralize }}</th>
			<td>{{ openings }}</td>
		</tr>
		{% endfor %}

	</tbody>
	{#
		TODO: <tr property="specialOpeningHoursSpecification" typeof="OpeningHoursSpecification">
			http://schema.org/specialOpeningHoursSpecification and http://schema.org/OpeningHoursSpecification example 2
	#}
</table>
