{% set calendar_name = calendar_name|default('opening') %}
{% set calendar = quando[calendar_name] %}
{% set timetable = calendar.regularTimetable() %}
{% set metadata = calendar.getMeta() %}

{# TODO: possibly this macro should just be a partial template like the short_time one but with lots of extra params #}
{% macro microdataOpenings(schedule, range_symbol, delimiter, render_pattern, render_exclusions) -%}
	{% set render_pattern = render_pattern|default('g.ia') %}
	{% set render_exclusions = render_exclusions|default(['.i']) %}
	{% set md_date_format = 'H:i:s' %}
	{% spaceless %}
		{% set output = [] %}
		{% for window in schedule %}
			{% set starts = window.starts|default(window.begins|default(window.opens)) %} {# TODO: remove deprecated property 'opens' #}
			{% set stops = window.stops|default(window.finishes|default(window.shuts)) %} {# TODO: remove deprecated property 'shuts' #}
			{% set markup %}
				<span property="opens" content="{{ starts|briefTime(md_date_format) }}" datatype="xsd:time">{{ starts|briefTime(render_pattern, render_exclusions) }}</span>
				{{ range_symbol|default('–') }}
				<span property="closes" content="{{ stops|briefTime(md_date_format) }}" datatype="xsd:time">{{ stops|briefTime(render_pattern, render_exclusions) }}</span>
			{% endset %}
			{% set output = output|merge([markup]) %}
		{% endfor %}
		{{ output|join(delimiter|default(', '))|trim }} {# FIXME - don't think this is correct as per spec #}
	{% endspaceless %}
{%- endmacro microdataOpenings %}

<h3>{{ metadata.headings.regular }}</h3>

<table class="hours">
	<thead>
		<tr>
			<th scope="col">Day</th>
			<th scope="col">Hours</th>
		</tr>
	</thead>
	<tbody vocab="http://schema.org/" typeof="{{ metadata.microdata.type|default('Organization') }}">
		{% import _self as transforms %}
		{% for day, schedule in timetable %}
			{# dump (schedule) #}
			{% set hours_text = ( schedule is empty ? ' <span property="description">' ~ (metadata.labels.off ?: 'PLUGIN_QUANDO.SERVICE_OFF')|t ~ '</span>' : transforms.microdataOpenings(schedule) ) %} {# transforms.microdataOpenings(schedule) #}
			<tr property="openingHoursSpecification" typeof="OpeningHoursSpecification">
				<th property="dayOfWeek" typeof="DayOfWeek" content="https://schema.org/{{ 'PLUGIN_QUANDO.DAYS_OF_WEEK'|tav(day,'en') }}" scope="row">{{ 'PLUGIN_QUANDO.DAYS_OF_WEEK'|tav(day)|pluralize }}</th>
			<td>{{ hours_text }}</td>
		</tr>
		{% endfor %}

	</tbody>
	{#
		TODO: <tr property="specialOpeningHoursSpecification" typeof="OpeningHoursSpecification">
			http://schema.org/specialOpeningHoursSpecification and http://schema.org/OpeningHoursSpecification example 2
	#}
</table>
