{% if config.plugins.quando.enabled %}
{% set calendar_name = calendar_name|default('opening') %}
{% set calendar = quando[calendar_name] %}
{% set labels = calendar.getMeta('labels') %}
<div class="panel hours">
	<div class="highlight">
		<h4>{{ 'PLUGIN_QUANDO.PANEL_WIDGET.HEADING'|t|raw|capitalize }}</h4>
	</div>

	<div class="content">
		<table class="data">
			<thead>
				<tr>
					<th scope="col">{{ 'PLUGIN_QUANDO.PANEL_WIDGET.COL_DAY'|t|raw|capitalize }}</th>
					<th scope="col">{{ 'PLUGIN_QUANDO.PANEL_WIDGET.COL_HOURS'|t|raw|capitalize }}</th>
				</tr>
			</thead>
			{% include 'partials/weekly_schedule_tbody.html.twig' with {'days_context': -1} %}
		</table>

		{% set hours_url = '/quando/demo' %}
		{% if page.url|trim != hours_url %}
		<ul class="related options">
			<li><a rel="more" href="{{ hours_url }}">{{ (labels.our_hours ?: 'PLUGIN_QUANDO.OUR_SERVICE_HOURS')|t|raw }}</a></li>
		</ul>
		{% endif %}

	</div>

</div>
{% endif %}
